<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<section id="users">
  <div class="container">
    <div *ngIf="users">
      <ul class="user-list">
        <app-card [model]="user" [change]="saveUser" *ngFor="let user of users" (click)="onUserClick(user)" [editable]="selectedUser === user" [selected]="selectedUser === user" [element]="'li'" [class]="selectedUser === user ? 'selected' : ''" [type]="'user'" [content]="user.email" [title]="user.username"></app-card>
      </ul>
    </div>
    <div *ngIf="!users">
      Loading
    </div>
  </div>
</section>